/*GENERAL STYLES*/

body {
    background-color: #090b1a;
}

main {
    background-color: #1b1938;
}

img {
    opacity:0.5;
}

figure {
    background-color: #aa5cdb;
}

h1 {
    color:white;
    font-family:'Inter', sans-serif;
    font-weight:700;
}

h2 {
    color:white;
    font-family:'Inter', sans-serif;
    font-weight:700;
}

p {
    color:#e6e6e6;
    font-family:'Lexend Deca', sans-serif;
    font-weight:400;
    font-size:15px;
}

span {
    color:#aa5cdb;
}

.stats p {
    text-transform:uppercase;
}

.attribution {
    display:none;
}