/*GENERAL STYLES*/

body {
    background-color: #090b1a;
}

main {
    background-color: #1b1938;
    width:375px;
    margin:auto;
    border-radius:5%;
    text-align:center;
}

.text-component {
    padding:15px;
}

img {
    opacity:0.5;
    width:100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

figure {
    background-color: #aa5cdb;
    margin:0;
    
}

h1 {
    color:white;
    font-family:'Inter', sans-serif;
    font-weight:700;
}

h2 {
    color:white;
    font-family:'Inter', sans-serif;
    font-weight:700;
}

p {
    color:#e6e6e6;
    font-family:'Lexend Deca', sans-serif;
    font-weight:400;
    font-size:15px;
}

span {
    color:#aa5cdb;
}

.stats p {
    text-transform:uppercase;
}

.attribution {
    display:none;
}